*{
	margin: 0;
	padding: 0;
}

html{
    font-family: Impact, sans-serif;
}

header{
    padding: 5px;
    background-color:steelblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    color:black;
}

h2{
    text-align: center;
}

h3{
    color:steelblue;
}

a{
    font-family: monospace;
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}

p{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    margin: 5px;
}

p span{
    color: red;
    font-weight: bold;
}

article p{
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    text-align: justify;    
}

footer{
    padding: 5px;
    background-color: bisque;
}

footer p{
    text-align: center;
}

.imgBordesRedondeados{
    border-radius: 15px;
}

.imgNosotros{
    height: 224px;
}

.imgProductos{
    height: 120px;
    padding: 10px;
}

form div{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    height: 30px;
}

form div label{
    display: block;
}
