@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
}
html{
    font-size: $htmlFontSize;
}
header{
    background: radial-gradient(circle at 50.3% 44.5%, rgb(116, 147, 179) 0%, rgb(62, 83, 104) 100.2%);
}
body{
    background-color:$bodyBackgroundColor;
}
@for $i from 1 through 3 {
    h#{$i}{
        @include h123(nth($hColor, $i), nth($hFontSize, $i), nth($hFont, $i));
        font-weight: 400;
    }
}
p{
    @include font($pFontFamily, $pFontSize);
    @include color($pColor,$pBackgroundColor);
}
a{
    @include font($aFontFamily, $aFontSize);
    text-decoration: none;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    transition: filter 0.5s;
    background: radial-gradient(circle at 50.3% 44.5%, rgb(221, 221, 221) 0%, rgb(116, 147, 179) 100.2%);    
    i{
        padding: 15px;
        color: $footerIColor;
        font-size: 3rem;
        transition: color 0.5s;
        @each $propiedad, $valor in $mapColoresRedes{
            &:hover.#{$propiedad}{
                @if ($propiedad==instagram){
                    background: -webkit-linear-gradient($valor);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                @else{
                    color: $valor;
                }                
            }
        }        
    }
    &:hover{
        filter: brightness(110%);
    }
}
.imgBordesRedondeados{
    border-radius: 25px 25px 0px 25px;
}
.imgNosotros{
    height: 250px;
}
.colPadding{
    padding-left: 50px;
    padding-right: 50px;
}
.tituloCategoria{
    text-align: center;
    margin: 0px;
}
.cardProducto{
    width: 300px;
    margin: 15px;    
    border-radius: 10px 10px 0px 10px;
    box-shadow: $cardProductoBoxShadow;
    transition: box-shadow 0.5s;
    &:hover{
        box-shadow: $cardProductoHoverBoxShadow;
        img{
            transform: scale(1.05);
            filter: brightness(150%);  
        }
    }
    img{
        transition: transform 0.5s, filter 1s;
        animation-name: imgOnStart;
        animation-iteration-count:1;
        animation-timing-function:linear;
        animation-duration: 0.5s;
    }
}
@keyframes imgOnStart{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
