.carouselCaption{
    h3{
        font-size: $carouselCaptionH3FontSize;
        font-family: $carouselCaptionH3FontFamily;
        color: $carouselCaptionH3Color;
        background-color: $carouselCaptionH3BackgroundColor;
        text-shadow: $carouselCaptionH3TextShadow;
    }
    p{
        font-size: $carouselCaptionPFontSize;
        font-family: $carouselCaptionPFontFamily;
        color:$carouselCaptionPColor;
        background-color: $carouselCaptionPBackgroundColor;
        text-shadow: $carouselCaptionPTextShadow;
    }    
}
.carouselControlPrev{
    justify-content: start;
    margin-left: 25px;
}
.carouselControlNext{
    justify-content: end;
    margin-right: 25px;
}
.carouselControlPrevIcon, .carouselControlNextIcon{
    height: 100px;
    width: 100px;
}
