.formRow{
    text-align: left;
}
.formLabel{
    @include font($formLabelFontFamily, $formLabelFontSize);
    margin-bottom: 0px;
    color: $formLabelColor;
}
.formControl{
    @include font($formControlFontFamily, $formControlFontSize);    
    padding: 5px;
    padding-left: 10px;         
    margin-bottom: 15px;
    border-radius: 10px 10px 0px 10px;
    border-color: $formControlBorderColor;
    &:focus{
        border-color: $formControlFocusBorderColor;
        box-shadow: $formControlFocusBoxShadow;
    }
    &::placeholder{
        color: $formControlPlaceHolderColor;
    }
}
.formButton{
    @include font($formButtonFontFamily, $formButtonFontSize);    
    color: $formButtonColor;
    background-color: $formButtonBackgroundColor;
    border-color: $formButtonBorderColor;
    border-radius: 10px 10px 0px 10px;
    width: 150px;
    &:hover{
        color:$formButtonHoverColor;
        background-color: $formButtonHoverBackgroundColor;
        border-color: $formButtonHoverBorderColor;
    }
}