.navbar-brand{
    margin-right: 10px;
    h1{
        margin: 0px;
    }
}
.navbar-nav .nav-item .nav-link{
    color: $navLinkColor !important;
    &:hover{
        color: $navLinkColorHover !important;
        font-weight:bolder;
    }
}
.custom-toggler.navbar-toggler {
    border-color: white !important;
}
.navbar-toggler {
    border-color: white;
    color: white !important;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
}
.active{
    background-color: $navLinkActiveBackgroundColor;
    text-decoration: underline $navLinkColor;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    font-weight:bolder;
}
