$bodyBackgroundColor:white;
$footerIColor: #202020;
$htmlFontSize: 62.5%;

$hColor: white, rgba(4, 78, 116), black;
$hFont: "Roboto", "Roboto", "Open Sans";
$hFontSize: 2.6rem, 2rem, 1.4rem;

$mapColoresRedes:(
    facebook:#3b5998,
    instagram:(#833ab4,#fd1d1d,#fcb045),
    whatsapp:green
);

$pFontFamily: "Open Sans";
$pFontSize: 1.4rem;
$pColor: gray;
$pBackgroundColor: white;

$aFontFamily: monospace;
$aFontSize: 1rem;

$navLinkFontSize: 1.5rem;
$navLinkFontFamily: "Open Sans";
$navLinkColor: #F0F0F0;
$navLinkHoverColor: white;
$navLinkActiveBackgroundColor: transparent;
$navBarTogglerColor: white;
$navBarTogglerBorderColor: white;
$navBarTogglerIconColor: rgba(255,255,255,1); 

$formControlBorderColor: rgba(62, 83, 104,1);
$formControlFocusBorderColor: rgba(11,80,94,1);
$formControlFocusBoxShadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 10px silver;
$formControlPlaceHolderColor: #AAAAAA;

$formButtonColor: rgba(11,80,94,1);
$formButtonBackgroundColor: white;
$formButtonBorderColor: rgba(62, 83, 104,1);

$formButtonHoverColor: white;
$formButtonHoverBackgroundColor: rgba(62, 83, 104,1);
$formButtonHoverBorderColor: rgba(62, 83, 104,1);

$formLabelColor: rgb(50,50,50);

$formLabelFontSize: 1.6rem;
$formControlFontSize: 1.4rem;
$formButtonFontSize: 1.8rem;

$formLabelFontFamily: "Open Sans";
$formControlFontFamily: "Open Sans";
$formButtonFontFamily: "Open Sans";

$carouselCaptionH3FontSize: 3rem;
$carouselCaptionH3FontFamily: "Open Sans";
$carouselCaptionH3Color: white;
$carouselCaptionH3BackgroundColor: transparent;
$carouselCaptionH3TextShadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

$carouselCaptionPFontSize: 2rem;
$carouselCaptionPFontFamily: "monospace";
$carouselCaptionPColor: white;
$carouselCaptionPBackgroundColor: transparent;
$carouselCaptionPTextShadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

$cardProductoBoxShadow: 2px 2px 2px silver;
$cardProductoHoverBoxShadow: 5px 5px 15px gray;
