$headerBackgroundColor:steelblue;
$headerBackgroundColorStart:steelblue;
$headerBackgroundColorEnd:rgba(11,80,94,1);

$bodyBackgroundColor:white;

$footerBackgroundColor:silver, rgba(215,224,230,1), silver;
$footerPColor: black;
$footerPBackgroundColor: transparent;

$footerPSpanColor:rgb(132, 130, 133);

$htmlFont: Impact, sans-serif;
$htmlFontSize: 1rem;

$hColor: white, rgba(11,80,94,1), black;
$hFont: "Roboto", "Roboto", "Open Sans";
$hFontSize: 2rem, 1.5rem, 1rem;


$mapColoresRedes:(
    facebook:#3b5998,
    instagram:(#833ab4,#fd1d1d,#fcb045),
    whatsapp:green
);

$pFontFamily: "Open Sans";
$pFontSize: 0.9rem;
$pColor: gray;
$pBackgroundColor: white;

$aFontFamily: monospace;
$aFontSize: 1rem !important;

$navLinkColor: #F0F0F0;
$navLinkColorHover: white;
$navLinkActiveBackgroundColor: transparent;

$btnColor: silver;
$btnBackgroundColor: rgba(11,80,94,1);

$btnColorHover: white;
$btnBackgroundColorHover: rgba(11,80,94,1);
